.ww-p1 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  color: #444;
}

.ww-p2 {
  font-size: 14px;
  color: #666;
  max-width: 300px;
  margin: 0 auto;
}

.map-img {
  width: 80%;
  margin-top: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
