.primary-color{
    color: #586245;
}
.header-text{
    font-weight:500;
    font-size: 15px;
}
.header-div{
    padding-left: 100px;
}
.header-h1{
    font-size: 40px;
}
.navitem-div{
    margin-left: 300px;
}