.footer-div{
    background-color: #2D2420;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-p1{
    color: white;
    width: 60%;
    font-size: 20px;
}
.footer-p2{
    color: white;
    margin: 40px 20px;
}

.footer-p2:hover {
  color: #d63384;
  text-decoration: underline;
}
