.rsvp-div {
  background-image: url("../../images/asian-rsvp-image.png");
  width: 90%;
  background-size: cover;
  margin-top: 50px;
  padding: 20px 30px;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rsvp-form {
  background-color: white;
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 30px 35px;
}
.rsvp-inp {
  background-color: white;
  border-width: 0px 0px 2px 0px;
  border-color: #bdbebc;
  flex-grow: 1;
  margin: 10px;
  padding: 15px 10px;
}
.radio-div {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.align-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.rsvp-button {
  background-color: #586245;
  color: white;
  border: 0px;
  width: 30%;
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px;
}
.radio-text {
  color: #5c5c5c;
}
