.schedule-h1 {
  font-size: 40px;
}
.schedule-div {
  text-align: center;
}
.schedule-items-div {
  gap: 10px;
}
.schedule-item {
  background-image: url("../../images/story-shape-6\ 2.png");
  background-size: cover;
  height: 300px;
  width: 300px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.schedule-item-h1 {
  font-size: 25px;
}
.schedule-item-p1 {
  font-size: 15px;
  color: #5c5c5c;
  margin: 0;
  padding: 0;
}
